body {
    background-color: papayawhip;
    padding-top: 1.5%;
}

form {
    display: inline;
}

.drop-top {
     margin-top: 10%;
}

.top-bar {

}

.top-bar__avatar {
    margin: 0 0 0 8px;
}

.top-bar__floater {
    text-align: right;
    min-width: 50%;
}

.avatar {
    border-radius: 50%;
}

.user-gief-button {
    width: 130px;
    min-height: 130px;
}

@media (max-width: 550px) {
    #logo {
        width: 20%;
        height: auto;
    }
}