    body {
        background-color: papayawhip;
        padding-top: 2em;
    }

    .drop-top {
         margin-top: 10%;
    }

    .top-bar {
 
    }

    .avatar {
        border-radius: 50%;
    }
